
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color:#000;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


nav{
    justify-content: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    
}

nav ul,
nav li{
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    font-size: 16px;
}
